body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 200px;
}

.hidden{
  visibility: hidden;
}
li > div{
height: 100px;
width: 100%;

}
.header{ border-radius: 3%;
  border: 3px solid black ;
  


}

div > div { border-radius: 3%;
  border: 3px solid black ;
  



}