<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    
      <form action="/mix" method="post">

        <input type="color" value="" name="colorOne">
        <input class="hidden" type="color" value="" name="colorTwo">
        <button type="submit">Submit</button>
      </form>
      <h3>mix</h3>
          <ul class="messages">
          <% for(var i=0; i<mix.length; i++) {%>
            <li class="message">
              <span><%= mix[i].colorOne %></span>
              
              <input type="color" value="" name="colorTwo">
              <button class="blending" >Blend Color</button>
              <button class="dump" >Throw Out Mix</button>
              <div style='background-color:"<%= mix[i].colorOne %>"'> </div>
            </li> <!-- make thumbs down functional and track pathing-->
          <% } %>
          </ul>

     







        

<script src="main.js"></script>

</body>
</html>
