<!doctype html>
<html>
<head>
    <title>Vic'S Color Studio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-color: rgb(233, 212, 186)">
<div class="container">

    <div class="page-header text-center header">
        <h1><span class="fas fa-palette"></span>Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    
      <form action="/mix" method="post">

        <input type="color" value="" name="colorOne">
        <input class="hidden" type="color" value="" name="colorTwo">
        <button type="submit">Submit</button>
      </form>
      <h3>mix</h3>
          <ul class="messages">
          <% for(var i=0; i<mix.length; i++) {%>
            <li class="message">
              <span class="card-header"><%= mix[i].colorOne %></span>
              
              <input type="color" value="" name="colorTwo">
              <button class="blending" >Blend Color</button>
              <button class="dump" >Throw Out Mix</button>
              <div class="card-body" style="background: <%= mix[i].Blended %>"> </div>
            </li> <!-- make thumbs down functional and track pathing-->
          <% } %>
          </ul>

     



          <div class="card text-center">
            <div class="card-header">Featured</div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
            <div class="card-footer text-muted">2 days ago</div>
          </div>



        

<script src="main.js"></script>

</body>
</html>
